@page "/counter"

<section class="has-20-padding has-border-radius-15 has-20-margin is-somewhat-white">
    <section class="has-20-padding has-20-margin has-border-radius-15 is-somewhat-purple has-shadow">
        <h1>Counter</h1>
        <p>Current count: @_currentCount</p>

        <button class="button" @onclick="IncrementCount">Click me</button>
                </section>
                </section>

                @code {
                    private int _currentCount;

                    private void IncrementCount() {
                        _currentCount++;
                    }

                }