@page "/"

<section class="has-20-padding has-30-margin has-text-centered">
    <h1 class="is-size-2">Discovering Blockchain Technology</h1>
</section>

<hr>

<section class="has-20-padding has-30-margin has-border-radius-15 is-somewhat-pink has-shadow">
    <p class="title">Abstract:</p>
    <div class="container">
        <p class="subtitle has-text-justified">
            A blockchain is a decentralized peer-to-peer network consisting of blocks also known as records. Each record is
            unique and contains a unique history that is added to the chain in chronological order after it is verified by several computers, known as nodes.
            Every block that is added contains a hash of the previous block linking them to each other, forming a chain hence the term blockchain.
            The data added to the blockchain is not immutable.
        </p>

        <p class="subtitle has-text-justified has-5-margin">
            By allowing digital information to be distributed, but not copied, blockchain technology created the
            backbone of a new type of internet. It is this difference that makes blockchain technology so useful — representing an innovation in registering and
            distributing information, that eliminates the need for a trusted party to facilitate those relationships.
        </p>
    </div>
</section>

<section class="has-20-padding has-30-margin has-border-radius-15 is-somewhat-light-salmon has-shadow">
    <p class="title">Background:</p>
    <div class="container">
        <p class="subtitle has-text-justified">
            <b>Stuart Haber</b> & <b>W. Scott Stornetta</b> were the first one to work on blockchain. In 2008, a person or group known as <b>Satoshi Nakamoto</b> were able to
            gestate blockchain by implementing it as the fundamental element in bitcoin cryptocurrency, to show and have a public ledger for all transactions.
        </p>

        <p class="subtitle has-text-justified has-5-margin">
            To boil down, blockchain is a decentralized public ledger which removes the need for having any 3rd party authentication. It records all the
            transactions across many computers, if any block is altered the chain is invalidated.
        </p>

        <p class="subtitle has-text-justified has-5-margin">
            Below an overview of bitcoin transactions can be seen from 2009-present:

            <figure class="image is-2by1">
                <img src="/imgs/paper/bitcoin-transactions.png" alt="" class="has-border-radius-15 has-shadow" width="40%">
            </figure>
        </p>
    </div>
</section>