@page "/"

<section class="has-20-padding has-30-margin has-text-centered" xmlns="http://www.w3.org/1999/html">
    <h1 class="is-size-2">Discovering Blockchain Technology</h1>
</section>

<hr>

<section class="has-20-padding has-30-margin has-border-radius-15 is-somewhat-pink has-shadow">
    <p class="title">Abstract:</p>
    <div class="container">
        <p class="subtitle has-text-justified">
            A blockchain is a decentralized peer-to-peer network consisting of blocks also known as records. Each record is
            unique and contains a unique history that is added to the chain in chronological order after it is verified by several computers, known as nodes.
            Every block that is added contains a hash of the previous block linking them to each other, forming a chain hence the term blockchain.
            The data added to the blockchain is not immutable. By allowing digital information to be distributed, but not copied, blockchain technology created the
            backbone of a new type of internet. It is this difference that makes blockchain technology so useful — representing an innovation in registering and
            distributing information, that eliminates the need for a trusted party to facilitate those relationships.
        </p>
    </div>
</section>